body {
  margin: 0;
  line-height: normal;
}
.desktop-1-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-100);
  width: 1440px;
  height: 73px;
}
.flipkartlogo-1-icon {
  position: absolute;
  top: 23px;
  left: 132px;
  width: 105px;
  height: 27px;
  object-fit: cover;
}
.desktop-1-item {
  border: 1px solid var(--color-gray-200);
  background-color: var(--color-white);
  position: absolute;
  top: 14px;
  left: 261px;
  border-radius: 3px;
  box-sizing: border-box;
  width: 526px;
  height: 45px;
}
.search-for-brands-products {
  margin: 0;
  position: absolute;
  top: 28px;
  left: 279px;
  font-size: 13px;
  font-weight: 300;
  color: rgba(30, 30, 30, 0.5);
  display: inline-block;
  width: 447px;
  height: 27px;
}
.vector-icon {
  position: absolute;
  height: 1.54%;
  width: 1.46%;
  top: 2.23%;
  right: 46.88%;
  bottom: 96.23%;
  left: 51.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.desktop-1-inner {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-white);
  position: absolute;
  top: 24px;
  left: 829px;
  width: 101px;
  height: 26px;
}
.become-a-seller,
.cart,
.login,
.more {
  position: absolute;
  display: inline-block;
}
.login {
  margin: 0;
  top: 27px;
  left: 861px;
  font-weight: 600;
  color: var(--color-gray-100);
  width: 78px;
  height: 13px;
}
.become-a-seller,
.cart,
.more {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 26px;
  left: 995px;
  font-size: var(--font-size-base);
  font-weight: 900;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  width: 122px;
  height: 23px;
}
.cart,
.more {
  left: 1173px;
  width: 85px;
  height: 13px;
}
.cart {
  top: 27px;
  left: 1261px;
  width: 77px;
}
.rectangle-div {
  position: absolute;
  top: 73px;
  left: 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 1440px;
  height: 133px;
}
.image-1,
.image-10,
.image-2,
.image-3,
.image-4,
.image-5,
.image-6,
.image-7,
.image-8,
.image-9 {
  text-decoration: none;
  position: absolute;
  top: 73px;
  left: 61px;
  width: 98.02px;
  height: 100px;
  background-image: url(./public/image1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.image-10,
.image-2,
.image-3,
.image-4,
.image-5,
.image-6,
.image-7,
.image-8,
.image-9 {
  left: 179px;
  width: 100px;
  background-image: url(./public/image2@3x.png);
}
.image-10,
.image-3,
.image-4,
.image-5,
.image-6,
.image-7,
.image-8,
.image-9 {
  left: 299px;
  height: 88px;
  background-image: url(./public/image3@3x.png);
}
.image-10,
.image-4,
.image-5,
.image-6,
.image-7,
.image-8,
.image-9 {
  left: 424px;
  height: 100px;
  background-image: url(./public/image4@3x.png);
}
.image-10,
.image-5,
.image-6,
.image-7,
.image-8,
.image-9 {
  left: 549px;
  background-image: url(./public/image5@3x.png);
}
.image-10,
.image-6,
.image-7,
.image-8,
.image-9 {
  left: 674px;
  background-image: url(./public/image6@3x.png);
}
.image-10,
.image-7,
.image-8,
.image-9 {
  top: 55px;
  left: 800px;
  background-image: url(./public/image7@3x.png);
}
.image-10,
.image-8,
.image-9 {
  top: 73px;
  left: 920px;
  background-image: url(./public/image8@3x.png);
}
.image-10,
.image-9 {
  top: 67px;
  left: 1056px;
  background-image: url(./public/image9@3x.png);
}
.image-10 {
  top: 73px;
  left: 1200px;
  background-image: url(./public/image10@3x.png);
}
.grocery {
  position: absolute;
  top: 173px;
  left: 85px;
  font-weight: 600;
  display: inline-block;
  width: 99px;
  height: 26px;
}
.appliences,
.electronics,
.fashion,
.home,
.mobiles,
.travel {
  position: absolute;
  top: 172px;
  left: 208px;
  font-weight: 600;
  display: inline-block;
  width: 87px;
  height: 21px;
}
.appliences,
.electronics,
.fashion,
.home,
.travel {
  top: 173px;
  left: 325px;
  width: 105px;
  height: 23px;
}
.appliences,
.electronics,
.home,
.travel {
  left: 430px;
  width: 98px;
  height: 28px;
}
.appliences,
.home,
.travel {
  left: 584px;
  width: 90px;
  height: 30px;
}
.appliences,
.travel {
  top: 172px;
  left: 686px;
}
.travel {
  top: 170px;
  left: 836px;
  width: 105px;
  height: 25px;
}
.top-offers {
  top: 170px;
  left: 938px;
  width: 96px;
  height: 22px;
}
.beauty-toys-more,
.top-offers,
.two-wheelers {
  position: absolute;
  font-weight: 600;
  display: inline-block;
}
.beauty-toys-more {
  top: 168px;
  left: 1055px;
  font-size: 12px;
  width: 118px;
  height: 24px;
}
.two-wheelers {
  top: 166px;
  left: 1216px;
  width: 102px;
  height: 26px;
}
.desktop-1-child1,
.image-11-icon {
  position: absolute;
  left: 0;
  width: 1440px;
}
.desktop-1-child1 {
  top: 206px;
  background-color: #d9d9d9;
  height: 243px;
}
.image-11-icon {
  top: 205px;
  height: 245px;
  object-fit: cover;
}
.desktop-1-child2,
.rectangle-button {
  cursor: pointer;
  border: 1px solid var(--color-gray-200);
  padding: 0;
  background-color: var(--color-white);
  position: absolute;
  top: 270px;
  left: 0;
  box-sizing: border-box;
  width: 52px;
  height: 114px;
}
.desktop-1-child2 {
  left: 1388px;
}
.vector-icon1,
.vector-icon2 {
  position: absolute;
  height: 2.86%;
  width: 1.36%;
  top: 25.58%;
  right: 1.14%;
  bottom: 71.56%;
  left: 97.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon2 {
  width: 1.37%;
  right: 97.51%;
  left: 1.12%;
}
.rectangle-main {
  position: absolute;
  top: 449px;
  left: 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1440px;
  height: 387px;
}
.image-12,
.image-13,
.image-14,
.image-15,
.image-16 {
  text-decoration: none;
  position: absolute;
  top: 512px;
  left: 69px;
  width: 200px;
  height: 200px;
  background-image: url(./public/image-12@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.image-13,
.image-14,
.image-15,
.image-16 {
  left: 360px;
  height: 190px;
  background-image: url(./public/image13@3x.png);
}
.image-14,
.image-15,
.image-16 {
  left: 651px;
  height: 179px;
  background-image: url(./public/image14@3x.png);
}
.image-15,
.image-16 {
  top: 524px;
  left: 942px;
  height: 154px;
  background-image: url(./public/image15@3x.png);
}
.image-16 {
  top: 502px;
  left: 1233px;
  width: 103px;
  height: 200px;
  background-image: url(./public/image16@3x.png);
}
.asus-gaming-monitor,
.mobile-power-banks,
.monitor,
.printers,
.top-mirror-less-cameras {
  position: absolute;
  top: 754px;
  left: 79px;
  font-size: var(--font-size-lg);
  font-weight: 800;
  display: inline-block;
  width: 230px;
  height: 51px;
}
.asus-gaming-monitor,
.mobile-power-banks,
.monitor,
.printers {
  left: 433px;
  width: 118px;
  height: 30px;
}
.asus-gaming-monitor,
.mobile-power-banks,
.printers {
  left: 680px;
  width: 197px;
  height: 39px;
}
.mobile-power-banks,
.printers {
  top: 753px;
  left: 1014px;
  width: 112px;
}
.mobile-power-banks {
  top: 752px;
  left: 1201px;
  width: 191px;
  height: 33px;
}
.rectangle-textarea {
  border: 0;
  background-color: #0d6d73;
  position: absolute;
  top: 836px;
  left: 0;
  width: 1440px;
  height: 278px;
}
.about-section {
  margin: 0;
  position: absolute;
  top: 891px;
  left: 133px;
  font-size: 128px;
  font-weight: 900;
  font-family: inherit;
  display: inline-block;
  width: 1294px;
  height: 196px;
}
.rectangle-footer {
  position: absolute;
  top: 1114px;
  left: 0;
  background-color: #1b0845;
  width: 1440px;
  height: 98px;
}
.advertise,
.become-a-seller1,
.gift-cards,
.help-center {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 1156px;
  left: 45px;
  font-size: var(--font-size-base);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 149px;
  height: 30px;
}
.advertise,
.gift-cards,
.help-center {
  top: 1155px;
  left: 269px;
  width: 121px;
  height: 29px;
}
.gift-cards,
.help-center {
  top: 1153px;
  left: 433px;
  width: 131px;
  height: 32px;
}
.help-center {
  top: 1157px;
  left: 601px;
  width: 157px;
}
.image-17-icon {
  position: absolute;
  top: 1152px;
  left: 912px;
  width: 487px;
  height: 21px;
  object-fit: cover;
}
.desktop-1 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1212px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
